{% extends "AppMaster/padre.html" %}

{% load static %}

{% block titulo %}
<h1 class="text-center"> About Me <br> </h1>
<h2 class="text-center text-white">Juan Granata</h2>
<br>
<br>
    <img style="border-radius:50%; width:250px; height:210px" src= '/media/avatares/WhatsApp_Image_2020-02-06_at_13.46.48.jpeg' alt=""><br><br>

  
<a> Mi nombre es Juan Granata, soy Ing. en Sistemas actualmnete trabajando <br> 
    en el area de ciberseguridad.  Tome este curso de Python porque la <br>
    programacion siempre me gusto y lo tomo como un muy buen pasatiempo <br>
    con miras a una salida laboral interesante en un futuro cercano <br>
    (si todo va bien!!!) </a>
    

{% endblock %}

{% block contenido_que_cambia %}

{% endblock %}