{% extends "AppMaster/padre.html" %}

{% load static %}

{% block titulo %}
<h1 class="text-center"> Sobre Mi <br> </h1>
<h2 class="text-center text-white"> Luciano Pardo</h2>
<br>
<br>
    <img style="border-radius:50%; width:250px; height:210px" src= '/media/avatares/LVP Pic.jpg' alt=""><br><br>

  
<a> Me Llamo Luciano Pardo soy nacido en Buenos Aires en el año 1983  <br> 
    trabajo en Networking desde el año 2006 y realice este curso a fines <br>
    de incorporar nuevas herramientas que me permitan continuar creciendo <br>
    como profesional y aumentar mis conocimientos en programacion <br>
    </a>
    

{% endblock %}

{% block contenido_que_cambia %}

{% endblock %}