{% extends "AppMaster/padre.html" %}

{% load static %}

{% block titulo %}
<h1 class="mb-5">Editar Usuario</h1><br>
<h3>Por favor introdusca el password para avanzar</h3><br>
{% if user %}
<form method="POST" class="post-form"> {% csrf_token %}

    {{ form.as_p }}
    
    <br>
    <input type="submit" value="MODIFICAR USUARIO">
    
    
</form>

    {{ mensaje }}
    
{% else %}
<h2 class="text-center"> Error al editar el Usuario...</h2>

{% endif %}

{% endblock %}

{% block contenido_que_cambia %}



{% endblock %}