{% extends "AppMaster/padre.html" %}

{% load static %}

{% block titulo %}
<h1 class="mb-5">Post Completo</h1>

<div class="post">

    {% if posts.created_date %}
    <div class="date">Fecha: {{ posts.created_date }}</div>
    <p> Autor: {{ posts.author.username }}</p>     
    <p> Titulo: {{ posts.title }}</p>
    <p> Texto: {{ posts.text|linebreaksbr }}</p>
 

    <a class="btn btn-primary" href="{% url 'post_list' %}">Volver</a>

    {% endif %}
</div>

{% endblock %}

{% block contenido_que_cambia %}

{% endblock %}