{% extends "AppMaster/padre.html" %}

{% load static %}

{% block titulo %}
<section class="s-content s-content--narrow">

    <div class="row">

        <div class="s-content__header col-full">
            <h2>
                {{ mensaje2 }}
            </h2>
            <h1 class="s-content__header-title">
                Perfil
            </h1>
            <h2>
                <p>Usuario: {{ username }}</p>
                <p>Email: {{ email }}</p>
                <p><img src="/media/{{ avatar }}" style="border-radius:50%; width:150px; height:150px"></p>
                <p>Bio: {{ bio }}</p>
                <p>Website: {{ website }}</a></p>
            </h2>

            <a class="btn btn-danger" href="{% url 'profile_edit' %}">Editar perfil</a>
            <a class="btn btn-primary" href="{% url 'usuario' %}">Volver</a>

        </div>


    </div> <!-- end row -->

</section> <!-- s-content -->

{% endblock %}

{% block contenido_que_cambia %}




{% endblock %}